body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, hwb(216 96% 2%), hsl(210, 29%, 93%));
}
.container {
  max-width: 850px;
  margin: 40px auto;
  padding: 20px;
}
.header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 25px;
}

h1 {
  margin: 0;
  font-size: 26px;
  color: hsl(215, 28%, 17%);
}

h2 {
  margin-bottom: 10px;
  color: hsl(217, 19%, 27%);
}
.burger-icon {
  width: 48px;
  height: 34px;
  position: relative;
  display: inline-block;
}
.burger-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: hsl(27, 87%, 67%);
  border-radius: 20px 20px 8px 8px;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,0.1);
}
.burger-icon::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: hsl(12, 76%, 61%);
  border-radius: 6px;
}
.burger-icon span {
  position: absolute;
  top: 14px;
  left: 4px;
  width: 40px;
  height: 8px;
  background: hsl(21, 48%, 28%); 
  border-radius: 4px;
  box-shadow:
    0 4px 0 hsl(145, 63%, 49%); 
}

.card {
  background: hsl(0, 0%, 100%);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-2px);
}
input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid hsl(216, 12%, 84%);
  font-size: 14px;
}

input:focus, select:focus {
  outline: none;
  border-color: hsl(155, 65%, 38%);
}
button {
  width: 100%;
  margin-top: 10px;
  padding: 11px;
  border: none;
  border-radius: 8px;
  background: hsl(155, 65%, 38%);
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: green;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th {
  background: white;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.status-paid {
  color:green;
  font-weight: bold;
}

.status-unpaid {
  color:red;
  font-weight: bold;
}
.output-text {
  font-size: 16px;
  font-weight: 500;
  color:black;
}